*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    margin-top: 60px;
    height: 512px;
    width: 800px;
    border-radius: 10px 10px 10px 10px;
    border: 1px;
    box-shadow:  rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    box-sizing: border-box;
    position: relative;
}
.up-side{
    background: #fff;
    margin-top: 16px;
    margin-left: -12px;
    margin-right: 125px;
    margin-bottom:-16px;
   padding: 48px;
    color:hsl(218, 22%, 67%);
}
.up-side p:nth-child(2){
color:hsl(71, 73%, 54%);
}
.box{
    
}
.part-1{
    position: absolute;
    height: 18rem;
    width: 25rem;
    left: 0rem;
    background-color:  hsl(179, 62%, 43%) ;
    padding: 45px;
    border-radius: 0px 0px 0px 10px;
    color: #fff;
}
.part-2{
    position: absolute;
    height: 18rem;
    width: 25rem;
    left: 25rem;
    background-color:hsl(218, 22%, 67% );
    padding: 35px;
    border-radius: 0px 0px 10px 0px;
}
.part-2 h2{
    color: #fff;
    margin-top: -20px;
    margin-bottom: 25px;
}
.part-2 p{
    color:hsl(204, 43%, 93%);
}
.btn-1{
    background-color:hsl(71, 73%, 54%) ;
    color: #fff;
    width: 17rem;
    height: 3rem;
    border: none;
    border-radius: 7px 7px 7px 7px;
}
span{
    color: #fff;
    font-weight: 500;
    font-size: 30px;
}
.part-1 p:nth-child(2){
    color:hsl(204, 43%, 93%)
}